$ngx-typography-aligns: ('left', 'right', 'center', 'justify');
$ngx-typography-decorators: ('underline', 'overline', 'line-through');
$ngx-typography-transforms: ('capitalize', 'uppercase', 'lowercase');
$ngx-typography-overflows: ('clip', 'ellipsis', 'string');
$ngx-typography-white-spaces: ('nowrap', 'pre', 'pre-line', 'pre-wrap');
$ngx-typography-word-breaks: ('break-all', 'keep-all');
