.ngx-SidenavContainer {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
}


.ngx-SidenavContainer__MainContent {
  display: block;
  height: 100%;
  margin-left: 0;
  overflow-y: auto;
  transition: transform .4s, margin .4s cubic-bezier(.25, .8, .25, 1);
  transform: translate3d(0, 0, 0);
}
.ngx-SidenavContainer__MainContent_mode_push-left {
  transform: translate3d(map-get($ngx-sidenav-theme, sidenav-max-width-mobile), 0, 0);
}
.ngx-SidenavContainer__MainContent_mode_push-right {
  transform: translate3d(-(map-get($ngx-sidenav-theme, sidenav-max-width-mobile)), 0, 0);
}
.ngx-SidenavContainer__MainContent_mode_side-left {
  margin-left: map-get($ngx-sidenav-theme, sidenav-max-width-mobile);
}
.ngx-SidenavContainer__MainContent_mode_side-right {
  margin-right: map-get($ngx-sidenav-theme, sidenav-max-width-mobile);
}
@include ngx-media-breakpoint-up(ngx-min-breakpoint-by-device($ngx-tablet-portrail-breakpoints)) {
  .ngx-SidenavContainer__MainContent_mode_push-left {
    transform: translate3d(map-get($ngx-sidenav-theme, sidenav-max-width-tablet), 0, 0);
  }
  .ngx-SidenavContainer__MainContent_mode_push-right {
    transform: translate3d(-(map-get($ngx-sidenav-theme, sidenav-max-width-tablet)), 0, 0);
  }
  .ngx-SidenavContainer__MainContent_mode_side-left {
    margin-left: map-get($ngx-sidenav-theme, sidenav-max-width-tablet);
  }
  .ngx-SidenavContainer__MainContent_mode_side-right {
    margin-right: map-get($ngx-sidenav-theme, sidenav-max-width-tablet);
  }
}
@include ngx-media-breakpoint-up(ngx-max-breakpoint-by-device($ngx-tablet-landscape-breakpoints)) {
  .ngx-SidenavContainer__MainContent_mode_push-left {
    transform: translate3d(map-get($ngx-sidenav-theme, sidenav-max-width-desktop), 0, 0);
  }
  .ngx-SidenavContainer__MainContent_mode_push-right {
    transform: translate3d(-(map-get($ngx-sidenav-theme, sidenav-max-width-desktop)), 0, 0);
  }
  .ngx-SidenavContainer__MainContent_mode_side-left {
    margin-left: map-get($ngx-sidenav-theme, sidenav-max-width-desktop);
  }
  .ngx-SidenavContainer__MainContent_mode_side-right {
    margin-right: map-get($ngx-sidenav-theme, sidenav-max-width-desktop);
  }
}


.ngx-SidenavContainer__Backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.ngx-SidenavContainer__Backdrop_state_active {
  display: block;
}
.ngx-SidenavContainer__Backdrop_variant_black {
  background: map-get($ngx-sidenav-theme, backdrop-background);
}
