$ngx-SideNav-width: 20em;

.layout-grid {
  display: block;
}

.ngx-SideNavComponent {
  position: absolute;
  width: $ngx-SideNav-width;
}

.container {
  margin-left: $ngx-SideNav-width;
  padding: 1rem 2rem;
}
