.ngx-SideNavContainerComponent {
  display: block;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.ngx-SideNavComponent {
  width: ngx-space($ngx-side-nav-width-increase);
  position: absolute;
  top: 0;
  bottom: 0;
  transition: transform .4s cubic-bezier(.25, .8, .25, 1);
  z-index: $ngx-side-nav-index;
  background: rgb(255, 255, 255);
  overflow-y: auto;
}

.ngx-SideNavComponent_side_left {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.ngx-SideNavComponent_side_right {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.ngx-SideNavComponent_opened_true {
  transform: translate3d(0, 0, 0);
}

.ngx-SideNavContentComponent {
  display: block;
  height: 100%;
  overflow-y: auto;
  margin-left: 0;
  transition: transform .4s, margin .4s cubic-bezier(.25, .8, .25, 1);
  transform: translate3d(0, 0, 0);
}

.ngx-SideNavContentComponent_mode_push-left {
  transform: translate3d(ngx-space($ngx-side-nav-width-increase), 0, 0);
}

.ngx-SideNavContentComponent_mode_push-right {
  transform: translate3d(ngx-space(-$ngx-side-nav-width-increase), 0, 0);
}

.ngx-SideNavContentComponent_mode_side-left {
  @include ngx-media-breakpoint-up(960) {
    margin-left: ngx-space($ngx-side-nav-width-increase);
  }
}

.ngx-SideNavContentComponent_mode_side-right {
  @include ngx-media-breakpoint-up(960) {
    margin-right: ngx-space($ngx-side-nav-width-increase);
  }
}

.ngx-SideNavComponent__Account {
  height: ngx-space($ngx-side-nav-width-increase/(16/9));
  padding: ngx-space($ngx-side-nav-padding-increase);
  background-color: rgba(0, 0, 0, .38);
}

.ngx-SideNavComponent__Navigations {
  padding: ngx-space($ngx-side-nav-padding-increase);
}

.ngx-SideNavComponent__Navigation {
  padding: ngx-space(3) 0;
  color: map-get($ngx-side-nav-theme, ngx-side-nav-foreground-default);
  cursor: pointer;
  @include ngx-typo(body-1, english);
}
