.ngx-Grid {
  @include ngx-grid();
}

.ngx-Grid__GridRow {
  @include ngx-grid-row();
  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  &.ngx-Grid__GridRow_type_no-gutters {
    margin-right: 0;
    margin-left: 0;
    /* stylelint-disable string-quotes */
    > [class*="ngx-Grid__GridColumn"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include ngx-grid-columns();
