.ngx-GridComponent {
  @include ngx-grid();

  &:not(.ngx-GridComponent_type_fluid) {
    // For each breakpoint, define the maximum width of the container in a media query
    @each $_breakpoint, $_width in $ngx-grid-breakpoints {
      @if $_width and $_width > 0 {
        @include ngx-media-breakpoint-up($_breakpoint, $ngx-grid-breakpoints) {
          width: $_width;
          max-width: 100%;
        }
      }
    }
  }
}

.ngx-GridComponent__GridRowComponent {
  @include ngx-grid-row();
  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  &.ngx-GridComponent__GridRowComponent_type_no-gutters {
    margin-right: 0;
    margin-left: 0;
    /* stylelint-disable string-quotes */
    > [class*="ngx-GridComponent__GridColumnComponent"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@include ngx-grid-columns();
