// Background palette for light themes.
$ngx-light-theme-background: (
  status-bar: map_get($ngx-grey, 300),
  app-bar:    map_get($ngx-grey, 100),
  background: map_get($ngx-grey, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
);

// Background palette for dark themes.
$ngx-dark-theme-background: (
  status-bar: black,
  app-bar:    map_get($ngx-grey, 900),
  background: #303030,
  hover:      rgba(white, 0.04), // TODO(kara): check style with Material Design UX
  card:       map_get($ngx-grey, 800),
  dialog:     map_get($ngx-grey, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($ngx-grey, 800),
);

// Foreground palette for light themes.
$ngx-light-theme-foreground: (
  base:            black,
  divider:         rgba(black, 0.12),
  dividers:        rgba(black, 0.12),
  disabled:        rgba(black, 0.38),
  disabled-button: rgba(black, 0.38),
  disabled-text:   rgba(black, 0.38),
  hint-text:       rgba(black, 0.38),
  secondary-text:  rgba(black, 0.54),
  icon:            rgba(black, 0.54),
  icons:           rgba(black, 0.54),
  text:            rgba(black, 0.87)
);

// Foreground palette for dark themes.
$ngx-dark-theme-foreground: (
  base:            white,
  divider:         rgba(white, 0.12),
  dividers:        rgba(white, 0.12),
  disabled:        rgba(white, 0.3),
  disabled-button: rgba(white, 0.3),
  disabled-text:   rgba(white, 0.3),
  hint-text:       rgba(white, 0.3),
  secondary-text:  rgba(white, 0.7),
  icon:            white,
  icons:           white,
  text:            white
);
