$ngx-breakpoints: (
  360: 360px,
  400: 400px,
  480: 480px,
  600: 600px,
  720: 720px,
  840: 840px,
  960: 960px,
  1024: 1024px,
  1280: 1280px,
  1440: 1440px,
  1600: 1600px,
  1920: 1920px,
) !default;


$ngx-desktop-breakpoints: (
  xs: ( min: 0, max: 600px ),
  sm: ( min: 600px, max: 960px ),
  md: ( min: 960px, max: 1280px ),
  lg: ( min: 1280px, max: 1920px ),
) !default;


$ngx-mobile-portrail-breakpoints: (
  sm: ( min: 0, max: 360 ),
  md: ( min: 360, max: 400 ),
  lg: ( min: 400, max: 600 ),
) !default;
$ngx-mobile-landscape-breakpoints: (
  sm: ( min: 480, max: 600 ),
  md: ( min: 600, max: 720 ),
  lg: ( min: 720, max: 960 ),
) !default;


$ngx-tablet-portrail-breakpoints: (
  sm: ( min: 600, max: 720 ),
  lg: ( min: 720, max: 840 ),
) !default;
$ngx-tablet-landscape-breakpoints: (
  sm: ( min: 960, max: 1024 ),
  lg: ( min: 1024, max: 1280 ),
) !default;
