// $target: Is html element or class of component
// $states: Is a string which is combined from states 'self', 'disabled', 'focus', 'hover', 'active', 'visisted', 'ng-invalid', 'ng-touched'
// $exclude: Is a atrribute or a class of target which make state cannot apply to target
//
// Example:
// .my-component {
//   @include ngx-state('.my-component', 'hover, active', 'disabled') {
//     color: #ff6d00;
//   }
// }
//
// It will be compiled to:
// .my-component:hover:not(.my-component_state_disabled),
// .my-component_state_active:not(.my-component_state_disabled),{
//   color: #ff6d00;
// }
@mixin ngx-state($prefix-class, $states, $exclude: null) {
  $_properties: '';
  $_exclude: $exclude;

  @if $exclude == disabled {
    $_exclude: '#{$prefix-class}_state_disabled';
  }

  @if str-index($states, self) != null {
    @if $_exclude {
      $_properties: $_properties + '&:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&,';
    }
  }

  @if str-index($states, focus) != null {
    @if $_exclude {
      $_properties: $_properties + '&:focus:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&:focus,';
    }
  }

  @if str-index($states, hover) != null {
    @if $_exclude {
      $_properties: $_properties + '&:hover:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&:hover,';
    }
  }

  @if str-index($states, visited) != null {
    @if $_exclude {
      $_properties: $_properties + '&:visited:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&:visited,';
    }
  }

  @if str-index($states, active) != null {
    @if $_exclude {
      $_properties: $_properties + '&#{$prefix-class}_state_active:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&#{$prefix-class}_state_active,';
    }
  }

  @if str-index($states, disabled) != null {
    @if $_exclude {
      $_properties: $_properties + '&#{$prefix-class}_state_disabled:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&#{$prefix-class}_state_disabled,';
    }
  }

  @if str-index($states, ng-invalid) != null {
    @if $_exclude {
      $_properties: $_properties + '&.ng-invalid:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&.ng-invalid,';
    }
  }

  @if str-index($states, ng-touched) != null {
    @if $_exclude {
      $_properties: $_properties + '&.ng-touched:not(#{$_exclude}),';
    }
    @else {
      $_properties: $_properties + '&.ng-touched,';
    }
  }

  @if str-length($_properties) > 0 {
    $_properties: str_slice($_properties, 1, str-length($_properties) - 1);

    #{$_properties} {
      @content;
    }
  }
}
