 .ngx-OverlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: ngx-z-index(above-max);
  pointer-events: none;
}

// We use an extra wrapper element in order to use make the overlay itself a flex item.
// This makes centering the overlay easy without running into the subpixel rendering
// problems tied to using `transform` and without interfering with the other position
// strategies.
.ngx-OverlayPositionStrategy_type_global {
  position: absolute;
  display: flex;
}

.ngx-Overlay {
  position: absolute;
  z-index: ngx-z-index(above-max);
  box-sizing: border-box;
  pointer-events: auto;
}

.ngx-OverlayBackdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: ngx-z-index(above-max);

  transition: opacity $ngx-ease-in-out-swift-duration $ngx-ease-in-out-swift-timing-function;
  opacity: 0;
  pointer-events: auto;

  &.ngx-OverlayBackdrop_state_active {
    opacity: .54;
  }

  &.ngx-OverlayBackdrop_variant_dark {
    background-color: map-get($ngx-overlay-theme, backdrop-background-dark);
  }
  &.ngx-OverlayBackdrop_variant_transparent {
    background-color: none;
  }
}

// Used when disabling global scrolling.
.ngx-OverlayScrollStrategy_type_block {
  position: fixed;
  // Necessary for the content not to lose its width. Note that we're using 100%, instead of
  // 100vw, because 100vw includes the width plus the scrollbar, whereas 100% is the width
  // that the element had before we made it `fixed`.
  width: 100%;
  // Note: this will always add a scrollbar to whatever element it is on, which can
  // potentially result in double scrollbars. It shouldn't be an issue, because we won't
  // block scrolling on a page that doesn't have a scrollbar in the first place.
  overflow-y: scroll;
}
