$ngx-theme-color-white: ngx-color($ngx-palette-white, 900);
$ngx-theme-color-white-87: ngx-color($ngx-palette-white, 900, .87);
$ngx-theme-color-white-54: ngx-color($ngx-palette-white, 900, .54);
$ngx-theme-color-white-38: ngx-color($ngx-palette-white, 900, .38);
$ngx-theme-color-white-12: ngx-color($ngx-palette-white, 900, .12);

$ngx-theme-color-black: ngx-color($ngx-palette-black, 900);
$ngx-theme-color-black-87: ngx-color($ngx-palette-black, 900, .87);
$ngx-theme-color-black-54: ngx-color($ngx-palette-black, 900, .54);
$ngx-theme-color-black-38: ngx-color($ngx-palette-black, 900, .38);
$ngx-theme-color-black-12: ngx-color($ngx-palette-black, 900, .12);

$ngx-theme-palette-primary: ngx-theme-palette($ngx-palette-blue, 500, 100, 700);
$ngx-theme-palette-accent: ngx-theme-palette($ngx-palette-blue, 'A200', 'A100', 'A400');
$ngx-theme-palette-success: ngx-theme-palette($ngx-palette-green, 500, 100, 700);
$ngx-theme-palette-warn: ngx-theme-palette($ngx-palette-orange, 500, 100, 700);
$ngx-theme-palette-danger: ngx-theme-palette($ngx-palette-red, 500, 100, 700);


$ngx-blue-theme: (
  palettes: (
    primary: $ngx-theme-palette-primary,
    accent: $ngx-theme-palette-accent,
    success: $ngx-theme-palette-success,
    warn: $ngx-theme-palette-warn,
    danger: $ngx-theme-palette-danger,
  ),
  foreground: (
    text-primary: $ngx-theme-color-black-87,
    text-secondary: $ngx-theme-color-black-54,
    text-hint: $ngx-theme-color-black-38,
    divider: $ngx-theme-color-black-12,
    code: ngx-color($ngx-palette-pink, 700),
  ),
  background: (
    body: ngx-color($ngx-palette-grey, 100),
    mark: ngx-color($ngx-palette-amber, 50),
    code: ngx-color($ngx-palette-pink, 50, .5),
    pre: ngx-color($ngx-palette-grey, 100),
  ),
  components: (
    ngx-card: (
      foreground: $ngx-theme-color-black-87,
      background: $ngx-theme-color-white,

      subtitle-foreground: $ngx-theme-color-black-54,
    ),
    ngx-menu: (
      background-color: $ngx-theme-color-white,
      menuitem-foreground-disabled: $ngx-theme-color-black-12,
      menuitem-background-active: $ngx-theme-color-black-12,
    ),
    ngx-overlay: (
      backdrop-background-dark: $ngx-theme-color-black-54,
    ),
    ngx-sidenav: (
      sidenav-max-width-mobile: ngx-space(70),
      sidenav-max-width-tablet: ngx-space(80),
      sidenav-max-width-desktop: ngx-space(100),
      sidenav-padding-top: ngx-space(6),
      sidenav-padding-left-right-mobile: ngx-space(4),
      sidenav-padding-left-right-tablet: ngx-space(6),
      sidenav-background: $ngx-theme-color-white,
      sidenav-z-index: ngx-z-index(above-max),
      sidenav-elevation: 16,

      sidenav-item-height: ngx-space(12),
      sidenav-item-typo: body-2,
      sidenav-item-icon-width: ngx-space(14),

      backdrop-background: $ngx-theme-color-black-38,
    ),
    ngx-typography: (
      display-1: $ngx-theme-color-black-54,
      display-2: $ngx-theme-color-black-54,
      display-3: $ngx-theme-color-black-54,
      display-4: $ngx-theme-color-black-54,
      headline: $ngx-theme-color-black-87,
      title: $ngx-theme-color-black-87,
      subheading: $ngx-theme-color-black-87,
      body-1: $ngx-theme-color-black-87,
      body-2: $ngx-theme-color-black-87,
      caption: $ngx-theme-color-black-54,
      color-black: $ngx-theme-color-black,
      color-black-87: $ngx-theme-color-black-87,
      color-black-54: $ngx-theme-color-black-54,
      color-black-38: $ngx-theme-color-black-38,
      color-black-12: $ngx-theme-color-black-12,
      color-white: $ngx-theme-color-white,
      color-white-87: $ngx-theme-color-black-87,
      color-white-54: $ngx-theme-color-black-54,
      color-white-38: $ngx-theme-color-black-38,
      color-white-12: $ngx-theme-color-black-12,
      color-primary: ngx-color($ngx-theme-palette-primary, default),
      color-primary-light: ngx-color($ngx-theme-palette-primary, light),
      color-primary-dark: ngx-color($ngx-theme-palette-primary, dark),
      color-accent: ngx-color($ngx-theme-palette-accent, default),
      color-accent-light: ngx-color($ngx-theme-palette-accent, light),
      color-accent-dark: ngx-color($ngx-theme-palette-accent, dark),
      color-success: ngx-color($ngx-theme-palette-success, default),
      color-success-light: ngx-color($ngx-theme-palette-success, light),
      color-success-dark: ngx-color($ngx-theme-palette-success, dark),
      color-warn: ngx-color($ngx-theme-palette-warn, default),
      color-warn-light: ngx-color($ngx-theme-palette-warn, light),
      color-warn-dark: ngx-color($ngx-theme-palette-warn, dark),
      color-danger: ngx-color($ngx-theme-palette-danger, default),
      color-danger-light: ngx-color($ngx-theme-palette-danger, light),
      color-danger-dark: ngx-color($ngx-theme-palette-danger, dark),
    ),
  ),
);
