$ngx-english-script-line-heights: (
  display-3: ngx-space(12),
  display-4: ngx-space(10),
  headline: ngx-space(8),
  subheading-1: ngx-space(7),
  subheading-2: ngx-space(6),
  body-1: ngx-space(6),
  body-2: ngx-space(5),
) !default;

$ngx-dense-script-line-heights: (
  display-3: ngx-space(16),
  display-4: ngx-space(12),
  headline: ngx-space(9),
  subheading-1: ngx-space(8),
  subheading-2: ngx-space(7),
  body-1: ngx-space(7),
  body-2: ngx-space(6),
) !default;

$ngx-tall-script-line-heights: $ngx-dense-script-line-heights !default;
