// Used to get values from a specific typo in a specific language
// For example, we have english script contains a typo as below:
// $ngx-english-script-typos: (
//   display-1: (
//     line-height: ngx-line-height(display-1, english),
//     letter-spacing: ngx-letter-spacing(-10),
//     font-size: ngx-font-size(112px),
//     font-weight: ngx-font-weight(regular),
//   ),
// )
//
// Then we call ngx-typo(display-1, english)
// The result will be:
// .my-display-1 {
//   line-height: 11.42857rem;
//   letter-spacing: -0.01em;
//   font-size: 8rem;
//   font-weight: 300;
// }
//
// We can use $include & $exclude to control which properties we want to get
// For examples:
// ngx-typo(display-1, english, $include: (font-size));
// .my-display-1 {
//   font-size: 8rem;
// }
//
// ngx-typo(display-1, english, $exclude: (letter-spacing));
// .my-display-1 {
//   line-height: 11.42857rem;
//   font-size: 8rem;
//   font-weight: 300;
// }
@mixin ngx-typo(
  $typo-key,
  $script-type,
  $include: null,
  $exclude: null
) {
  $_typo: ngx-map-clone(ngx-typo($typo-key, $script-type), $include, $exclude);
  $_typo-keys: map-keys($_typo);

  @each $_typo-key in $_typo-keys {
    #{$_typo-key}: map-get($_typo, $_typo-key);
  }
}

@mixin ngx-truncate-line() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
