$ngx-english-script-typos: (
  display-1: (
    line-height: ngx-space(40),
    letter-spacing: ngx-letter-spacing(-10),
    font-size: ngx-font-size(112px),
    font-weight: ngx-font-weight(light),
  ),
  display-2: (
    line-height: ngx-space(20),
    letter-spacing: ngx-letter-spacing(-5),
    font-size: ngx-font-size(56px),
    font-weight: ngx-font-weight(regular),
  ),
  display-3: (
    line-height: ngx-space(16),
    font-size: ngx-font-size(45px),
    font-weight: ngx-font-weight(regular),
  ),
  display-4: (
    line-height: ngx-space(10),
    font-size: ngx-font-size(34px),
    font-weight: ngx-font-weight(regular),
  ),
  headline: (
    line-height: ngx-space(8),
    font-size: ngx-font-size(24px),
    font-weight: ngx-font-weight(regular),
  ),
  title: (
    line-height: ngx-space(7),
    letter-spacing: ngx-letter-spacing(5),
    font-size: ngx-font-size(20px),
    font-weight: ngx-font-weight(medium),
  ),
  subheading: (
    line-height: ngx-space(6),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(16px),
    font-weight: ngx-font-weight(regular),
  ),
  body-1: (
    line-height: ngx-space(5),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(regular),
  ),
  body-2: (
    line-height: ngx-space(6),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(medium),
  ),
  caption: (
    line-height: ngx-space(4),
    letter-spacing: ngx-letter-spacing(20),
    font-size: ngx-font-size(12px),
    font-weight: ngx-font-weight(regular),
  ),
) !default;

$ngx-dense-script-typos: (
  display-1: (
    line-height: ngx-space(40),
    letter-spacing: ngx-letter-spacing(-10),
    font-size: ngx-font-size(112px),
    font-weight: ngx-font-weight(light),
  ),
  display-2: (
    line-height: ngx-space(20),
    letter-spacing: ngx-letter-spacing(-5),
    font-size: ngx-font-size(56px),
    font-weight: ngx-font-weight(regular),
  ),
  display-3: (
    line-height: ngx-space(16),
    font-size: ngx-font-size(45px),
    font-weight: ngx-font-weight(regular),
  ),
  display-4: (
    line-height: ngx-space(12),
    font-size: ngx-font-size(34px),
    font-weight: ngx-font-weight(regular),
  ),
  headline: (
    line-height: ngx-space(9),
    font-size: ngx-font-size(24px),
    font-weight: ngx-font-weight(regular),
  ),
  title: (
    line-height: ngx-space(7),
    letter-spacing: ngx-letter-spacing(5),
    font-size: ngx-font-size(21px),
    font-weight: ngx-font-weight(medium),
  ),
  subheading: (
    line-height: ngx-space(8),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(16px),
    font-weight: ngx-font-weight(regular),
  ),
  body-1: (
    line-height: ngx-space(6),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(regular),
  ),
  body-2: (
    line-height: ngx-space(7),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(medium),
  ),
  caption: (
    line-height: ngx-space(5),
    letter-spacing: ngx-letter-spacing(20),
    font-size: ngx-font-size(13px),
    font-weight: ngx-font-weight(regular),
  ),
) !default;

$ngx-tall-script-typos: (
  display-1: (
    line-height: ngx-space(40),
    letter-spacing: ngx-letter-spacing(-10),
    font-size: ngx-font-size(112px),
    font-weight: ngx-font-weight(regular),
  ),
  display-2: (
    line-height: ngx-space(20),
    letter-spacing: ngx-letter-spacing(-5),
    font-size: ngx-font-size(56px),
    font-weight: ngx-font-weight(regular),
  ),
  display-3: (
    line-height: ngx-space(16),
    font-size: ngx-font-size(45px),
    font-weight: ngx-font-weight(regular),
  ),
  display-4: (
    line-height: ngx-space(12),
    font-size: ngx-font-size(34px),
    font-weight: ngx-font-weight(regular),
  ),
  headline: (
    line-height: ngx-space(9),
    font-size: ngx-font-size(24px),
    font-weight: ngx-font-weight(regular),
  ),
  title: (
    line-height: ngx-space(7),
    letter-spacing: ngx-letter-spacing(5),
    font-size: ngx-font-size(21px),
    font-weight: ngx-font-weight(bold),
  ),
  subheading: (
    line-height: ngx-space(8),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(16px),
    font-weight: ngx-font-weight(regular),
  ),
  body-1: (
    line-height: ngx-space(6),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(regular),
  ),
  body-2: (
    line-height: ngx-space(7),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(bold),
  ),
  caption: (
    line-height: ngx-space(5),
    letter-spacing: ngx-letter-spacing(20),
    font-size: ngx-font-size(13px),
    font-weight: ngx-font-weight(bold),
  ),
) !default;
