$ngx-line-heights: (
  display-3: ngx-space(12),
  display-4: ngx-space(10),
  headline: ngx-space(8),
  subheading-1: ngx-space(7),
  subheading-2: ngx-space(6),
  body-1: ngx-space(6),
  body-2: ngx-space(5),
) !default;

$ngx-typos: (
  display-1: (
    letter-spacing: ngx-letter-spacing(-10),
    font-size: ngx-font-size(112px),
    font-weight: ngx-font-weight(light),
    color: rgba(0, 0, 0, .54),
  ),
  display-2: (
    letter-spacing: ngx-letter-spacing(-5),
    font-size: ngx-font-size(56px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .54),
  ),
  display-3: (
    line-height: ngx-line-height(display-3),
    font-size: ngx-font-size(45px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .54),
    leading: (
      display-4: ngx-line-height(display-4),
      headline: ngx-line-height(headline),
      subheading-1: ngx-line-height(subheading-1),
      subheading-2: ngx-line-height(subheading-2),
      body-2: ngx-line-height(body-1),
      body-1: ngx-line-height(body-2),
    ),
  ),
  display-4: (
    line-height: ngx-line-height(display-4),
    font-size: ngx-font-size(34px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .54),
    leading: (
      headline: ngx-line-height(headline),
      subheading-1: ngx-line-height(subheading-1),
      subheading-2: ngx-line-height(subheading-2),
      body-2: ngx-line-height(body-1),
      body-1: ngx-line-height(body-2),
    ),
  ),
  headline: (
    line-height: ngx-line-height(headline),
    font-size: ngx-font-size(24px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .87),
    leading: (
      subheading-1: ngx-line-height(subheading-1),
      subheading-2: ngx-line-height(subheading-2),
      body-2: ngx-line-height(body-1),
      body-1: ngx-line-height(body-2),
    ),
  ),
  title: (
    letter-spacing: ngx-letter-spacing(5),
    font-size: ngx-font-size(20px),
    font-weight: ngx-font-weight(medium),
    color: rgba(0, 0, 0, .87),
  ),
  subheading-1: (
    line-height: ngx-line-height(subheading-1),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(15px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .87),
    leading: (
      subheading-2: ngx-line-height(subheading-2),
      body-2: ngx-line-height(body-1),
      body-1: ngx-line-height(body-2),
    ),
  ),
  subheading-2: (
    line-height: ngx-line-height(subheading-2),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(15px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .87),
    leading: (
      body-2: ngx-line-height(body-1),
      body-1: ngx-line-height(body-2),
    ),
  ),
  body-1: (
    line-height: ngx-line-height(body-1),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(13px),
    font-weight: ngx-font-weight(medium),
    color: rgba(0, 0, 0, .87),
    leading: (
      body-1: ngx-line-height(body-2),
    ),
  ),
  body-2: (
    line-height: ngx-line-height(body-2),
    letter-spacing: ngx-letter-spacing(10),
    font-size: ngx-font-size(14px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .87),
  ),
  caption: (
    letter-spacing: ngx-letter-spacing(20),
    font-size: ngx-font-size(12px),
    font-weight: ngx-font-weight(regular),
    color: rgba(0, 0, 0, .54),
  ),
) !default;
