/* Don't change $_ngx-font-size */
$_ngx-font-size: 14px;
$ngx-baseline-space: 4px !default;
$ngx-default-script-type: english !default;

$ngx-root-font-family: 'Roboto', 'Noto Sans', sans-serif !default;
$ngx-root-font-family-serif: 'Noto Serif', sans-serif !default;
$ngx-root-font-size: $_ngx-font-size !default;

$ngx-font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
) !default;
