$ngx-root-font-family: 'Roboto', sans-serif !default;
$ngx-root-font-size: 14px !default;
$ngx-baseline-height: 4px !default;

$ngx-font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
) !default;
